<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
    <title>First Bulma Example</title>
</head>
<body >
    <nav class="navbar is-primary">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            
              <img src="https://bulma.io/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            
          </a>
          <div class="navbar-burger" :class="{ 'is-active': isMenuActive }" @click="isMenuActive = !isMenuActive" >
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div class="navbar-menu" :class="{ 'is-active': isMenuActive }">
          <div class="navbar-start">
            <a class="navbar-item" href="https://bulma.io/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                Docs
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                  Overview
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                  Modifiers
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Columns
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                  Layout
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                  Form
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                  Elements
                </a>
                <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Components
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>
                      Tweet
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip">
                    <span class="icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span>Download</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="section">
          <div class="container">
            <div class="columns">
                <div class="column is-2">
                    <div class="card is-success">
                        <header class="card-header">
                          <p class="card-header-title">
                            Component
                          </p>
                          <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </header>
                        <div class="card-content">
                          <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                          </div>
                        </div>
                        <footer class="card-footer">
                          <a href="#" class="card-footer-item button is-success">Save</a>
                          <a href="#" class="card-footer-item">Edit</a>
                          <a href="#" class="card-footer-item button is-danger">Delete</a>
                        </footer>
                      </div>
                </div>
                <div class="column is-half">
                    <article class="panel">
                        
                        <div class="tabs is-boxed">
                            <ul>

                              <li v-for="tab in tabs" :class="{ 'is-active': currentTab == tab.name }" @click="currentTab = tab.name" >
                                <a>
                                  <span class="icon is-small"><i :class="tab.icon"></i></span>
                                  <span>{{ tab.name }}</span>
                                  <span class="tag is-danger icon" v-show="tab.name == 'Current'">{{ items.filter(item => !item.completed).length }}</span>
                                  <span class="tag is-success icon" v-show="tab.name == 'Completed'">{{ items.filter(item => item.completed).length }}</span>
                                </a>
                              </li>

                            </ul>
                          </div>

                        <div class="panel-block">
                          <p class="control has-icons-left">
                            <input class="input is-primary" type="text" placeholder="New Task" v-model="newTask" @keypress.enter="addTask">
                            <span class="icon is-left">
                              <i class="fas fa-calendar-plus" aria-hidden="true"></i>
                            </span>
                          </p>
                        </div>
                        
                        <a v-for="item in items" class="panel-block" v-show="shouldShow(item)">
                            <input type="checkbox" v-model="item.completed" />
                            {{ item.name}}
                        </a>
                      
                    </article>

                      <article class="message is-danger">
                        <div class="message-header">
                          <p>Make a github account</p>
                          <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                          <p>Go to <a href="https://github.com">github.com</a> and create an account.</p>
                          <p>
                            That's where you'll be able to share your work with the world.. thats where we will be putting all of our code for this class.
                          </p>
                          <progress class="progress is-warning" value="60" max="100">60%</progress>
                        </div>
                      </article>

                      
<form action="" class="box">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="Text input" value="bulma">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
      </div>
      
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
      </div>
      
      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="radio">
            <input type="radio" name="question">
            Yes
          </label>
          <label class="radio">
            <input type="radio" name="question">
            No
          </label>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
</form>


                </div>
                <div class="column is-one-quarter">
                    <h2 class="title">Table of contents</h2>
                    <h3 class="subtitle">Intra-page navigation</h3>
                    <aside class="menu">
                        <p class="menu-label">
                          General
                        </p>
                        <ul class="menu-list">
                          <li><a>Dashboard</a></li>
                          <li><a>Customers</a></li>
                        </ul>
                        <p class="menu-label">
                          Administration
                        </p>
                        <ul class="menu-list">
                          <li><a>Team Settings</a></li>
                          <li>
                            <a class="is-active">Manage Your Team</a>
                            <ul>
                              <li><a>Members</a></li>
                              <li><a>Plugins</a></li>
                              <li><a>Add a member</a></li>
                            </ul>
                          </li>
                          <li><a>Invitations</a></li>
                          <li><a>Cloud Storage Environment Settings</a></li>
                          <li><a>Authentication</a></li>
                        </ul>
                        <p class="menu-label">
                          Transactions
                        </p>
                        <ul class="menu-list">
                          <li><a>Payments</a></li>
                          <li><a>Transfers</a></li>
                          <li><a>Balance</a></li>
                        </ul>
                      </aside>
                </div>

            </div>

          </div>

      </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script>

            Vue.createApp({
                data() {
                    return {
                        isMenuActive: false,
                        currentTab: 'All',
                        tabs: [
                            { name: 'All', icon: 'fas fa-list' },
                            { name: 'Completed', icon: 'fas fa-check' },
                            { name: 'Current', icon: 'fas fa-spinner' },
                            { name: 'Overdue', icon: 'fas fa-exclamation-triangle' },
                            { name: 'Trash', icon: 'fas fa-trash'}
                            /*  calendar, calendar-day, calendar-times, clipboard-list*/
                        ],
                        items: [
                            { name: 'Learn Vue', completed: true },
                            { name: 'Learn React', completed: false },
                            { name: 'Learn Angular', completed: false },
                            { name: 'Learn Svelte', completed: false },
                            { name: 'Learn Ember', completed: false },

                        ],
                        newTask: '',
                    }
                },
                methods: {
                    shouldShow(item) {
                        if (this.currentTab === 'All') return true
                        if (this.currentTab === 'Completed' && item.completed) return true
                        if (this.currentTab === 'Current' && !item.completed) return true
                        return false
                    },
                    addTask() {
                        this.items.push({ name: this.newTask, completed: false })
                        this.newTask = ''
                    },
                }
            }).mount('body')
        </script>
      <!--
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" ></script>
      <script>
        $(function(){
            $(".tabs li").click(function(){
                $(".tabs li").removeClass("is-active");
                $(this).addClass("is-active");

                $(".panel-block").slideDown();

                const tab = $(this).text().trim();

                switch (tab) {
                    case "Completed":
                        // panel block that has a checked checkbox
                        $(".panel-block:has(:checkbox)").not(":has(:checked)").slideUp();
                        break;
                    case "Current":
                        // panel block that has a checked checkbox
                        $(".panel-block").has(":checked").slideUp();
                        break;
                    default:
                        break;
                }
            })
        })
      </script>
      -->
    </body>
</html>